.page{
  font-family: Arial, sans-serif;
}

.event-creator {
  padding: 20px;
}

.form-admin {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.form__label {
  font-size: 20px;
  margin-bottom: 10px;
}

.form__item {
  padding: 10px;
  margin: 30px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

.form__button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
